/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


.p-card{
    border-radius: 3rem;
    padding: 1rem 1rem 1rem 1.5rem;
    border: 1px solid var(--p-toolbar-border-color);
}

.main-content{
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.p-dialog-content{
    gap: 20px;
    display: flex;
    flex-direction: column;
}